section{
    width: 350px;
    height:450px; 
    text-align: center;
    font-family: 'Trade Winds';
}
button{
	font-family: 'Trade Winds';
}
.splash{
    background: #58BFEC;
}
#letrasBotones{
	position: absolute;
	width: 250px;
	top: 320px;
	left: 50px;
}
#letrasJuego{
    position: absolute;
	width: 250px;
	top: 280px;
	left: 50px;
}
.letra{
    cursor: pointer;
    border: black solid;
    padding: 1;
}
#imgSplash{
    width: 500px;
    height: 200px;
}

.home{
    background: rgb(73, 136, 130);
    
}
#imagenHome{
    width: 100px;
    height: 100px;
}
#imgJuego{
    width: 200px;
    height: 200px;
}
.juego{
    background: #5C78BF;
}
.boton{
    background-color: navy;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius:12px;

}
.volver{
  
    margin-left: -300px;
    line-height: 50px;


}
.instrucciones p{
    margin:25px;
    text-align: left;

}
.instrucciones{
    background:rgb(164, 124, 228);
    
}
.creditos{
    background: #C2E3E9;
}
.oculto{
    display:none;
}
.botonPuntaje{
    background-color: navy;
    border-radius:12px;
    color: white;
    padding: 10px;
    text-decoration: none;

    margin-left: 0px;
    line-height: 50px;

}

.botonHomeVolver{
    background-color: navy;
    border-radius:12px;
    color: white;
    padding: 10px;
    text-decoration: none;

    margin-left: 0px;
    line-height: 50px;

}

.botonesHome{

    width: 166px;
    height: 38px;
    border-radius:35px;
    font-size: 17px;
    box-shadow: 5px 5px 7px rgb(0, 0, 0);      /* Sombra superior sin desenfoque */
    

}
#posicionBotonesHome{
    position: absolute;
    top: 247px;
    left: 100px;

}
.fotoCreditos{
    position: absolute;
    border-radius: 12px;
}
#fotoJarol{
    top: 135px;
    left: 20px;
    width: 70px;
    height: 70px;
    

}
#etiquetaJarol{
    position: absolute;
    top: 160px;
    left: 100px;
}

#fotoDaniel{
    top: 245px;
    left: 20px;
    width: 70px;
    height: 70px;

}
#etiquetaDaniel{
    position: absolute;
    top: 275px;
    left: 100px;
}
#fotoLaura{
    top: 355px;
    left: 20px;
    width: 70px;
    height: 70px;

}
#etiquetaLaura{
    position: absolute;
    top: 385px;
    left: 100px;
}